$mobile: 375px;

// primary
$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);
// neutral
$veryDarkCyan: hsl(192, 100%, 9%);
$veryPaleBlue: hsl(207, 100%, 98%);

// fonts
$headingFonFamily: 'Poppins', sans-serif;
$bodyFontFamily: 'Open Sans', sans-serif;
